<div class="page-navbar inner">
  <div>
    <nav>
      <ul class="page-navbar logo2">
        <a><span class="page-navbar logo1">RS</span>card</a>
      </ul>
      <ul>
        <li style="margin-right: 7px;"><a href="#other">Other</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#calendar">Calendar</a></li>
        <li><a href="#blog">Blog</a></li>
        <li><a href="#pricing">Pricing</a></li>
        <li><a href="#experience">Experience</a></li>
        <li><a href="#portfolio">Portfolio</a></li>
        <li><a href="#skills">Skills</a></li>
        <li><a href="#about">About</a></li>
      </ul>
    </nav>
  </div>
</div>