@import url('https://fonts.googleapis.com/css?family=Fredoka+One');

.page-navbar{
    background-color: $transparent;
    font-family: "Fredoka One", cursive;
    padding-left: 15px;

    & .logo1{
        color: $red !important;
        font-size: 30px;
        margin-right: 3px; 
    }

    & .logo2{
        color: #9a9da2;
        font-size: 30px;
        font-weight: 400;
        line-height: 50px;
        overflow: hidden;
        margin-top: 5px;
    }

    & .inner{
        padding: 10px 15px;
    }
}

