.social-bar{
    background-color: $red;
    width: 900px;
    height: 100px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
}

.social-bar-icons{
    color: #fff;
    font-size: 20px !important;
    line-height: 45px;
    display: block;
}
