<!--The content below is only a placeholder and can be replaced.-->
<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>

<!-- <header>
  <div class="page-header"></div>
</header> -->

<div class="card">
  <div fxFlex="45">  
    <div><img src="https://s7d1.scene7.com/is/image/PETCO/puppy-090517-dog-featured-355w-200h-d" class="card-avatar"></div>
  </div>

  <div fxFlex="55">
    <div class="profile-header">
      <h1 class="profile-title">
        <span>I'm</span> a Dog
      </h1>
      <h2>
        Best friend
      </h2>
    </div> 
    <ul>
      <li>
        <strong class="title">Age</strong>
        <span class="informations">4</span>
      </li>
      <li>
        <strong class="title">Adress</strong>
        <span class="informations">23232, Belgium, Brussels, Liutte 27, BE</span>
      </li>
      <li>
        <strong class="title">E-mail</strong>
        <span class="informations">dog@company.com</span>
      </li>
      <li>
        <strong class="title">Phone</strong>
        <span class="informations">+1 256 254 84 56</span>
      </li>
      <li>
        <strong class="title">Freelance</strong>
        <span class="informations">till March 25, 2018</span>
      </li>
      <li>
        <strong>
          <span class="informations-button">Vacation</span>
          <span class="informations">
            till April 15, 2018
          </span>
        </strong>
      </li>
    </ul> 
  </div> 
</div>

<div style="background-color: #e8676b; width: 900px; height: 85px; box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);"></div>
