<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
  <head>
      <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>
  
  <body>
    <header>
      <app-navbar></app-navbar>
      <div class="page-header"></div>
      <div class="color-overlay"></div>
    </header>
    <div class="about">
      <app-card></app-card>
    </div>
  </body>
</html>