<!--The content below is only a placeholder and can be replaced.-->
<!DOCTYPE html>
<html>
<head>
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>

  <header>

    <div class="page-navbar inner">
      <div>
        <nav>
          <ul class="page-navbar logo2">
            <a><span class="page-navbar logo1">RS</span>card</a>
          </ul>
          <ul>
            <li style="margin-right: 7px;"><a href="#other">Other</a></li>
            <li><a href="#contact">Contact</a></li>
            <li><a href="#calendar">Calendar</a></li>
            <li><a href="#blog">Blog</a></li>
            <li><a href="#pricing">Pricing</a></li>
            <li><a href="#experience">Experience</a></li>
            <li><a href="#portfolio">Portfolio</a></li>
            <li><a href="#skills">Skills</a></li>
            <li><a href="#about">About</a></li>
          </ul>
        </nav>
      </div>
    </div>

    <div class="page-header"></div>
    <div class="color-overlay"></div>
  </header>

  <div class="about">
    <div class="card">
      <div fxFlex="45">  
        <div><img src="https://images.pexels.com/photos/356378/pexels-photo-356378.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260" class="card-avatar"></div>
      </div>

      <div fxFlex="55">
        <div class="profile-header">
          <h1 class="profile-title">
            <span>I'm</span> a Dog
          </h1>
          <h2>
            Best friend
          </h2>
        </div> 
        <ul>
          <li>
            <strong class="title">Age</strong>
            <span class="informations">4</span>
          </li>
          <li>
            <strong class="title">Adress</strong>
            <span class="informations">23232, Belgium, Brussels, Liutte 27, BE</span>
          </li>
          <li>
            <strong class="title">E-mail</strong>
            <span class="informations">dog@company.com</span>
          </li>
          <li>
            <strong class="title">Phone</strong>
            <span class="informations">+1 256 254 84 56</span>
          </li>
          <li>
            <strong class="title">Freelance</strong>
            <span class="informations">till March 25, 2018</span>
          </li>
          <li>
            <strong>
              <span class="informations-button">Vacation</span>
              <span class="informations">
                till April 15, 2018
              </span>
            </strong>
          </li>
        </ul> 
      </div> 
    </div>

    <div class="social-bar">
      <span fxFlex="24"></span>
      <ul fxLayout="row" fxLayoutAlign="space-evenly center" fxFlex="50">
        <li>
          <a href="https://twitter.com" target="_blank">
            <i class="social-bar-icons fa fa-twitter"></i> 
          </a>
        </li>
        <li>
            <a href="https://www.facebook.com" target="_blank">
              <i class="social-bar-icons fa fa-facebook"></i> 
            </a>
        </li>
        <li>
            <a href="https://dribbble.com" target="_blank">
              <i class="social-bar-icons fa fa-dribbble"></i> 
            </a>
        </li>
        <li>
            <a href="https://www.linkedin.com" target="_blank">
              <i class="social-bar-icons fa fa-linkedin"></i> 
            </a>
        </li>
        <li>
            <a href="https://instagram.com" target="_blank">
              <i class="social-bar-icons fa fa-instagram"></i> 
            </a>
        </li>
        <li>
            <a href="https://www.google.com" target="_blank">
              <i class="social-bar-icons fa fa-google"></i> 
            </a>
        </li>
      </ul>
    </div>
  </div>
</body>
</html>