@import "styles/settings/colors.scss";

h1 {
    font-family: "Open Sans";
    font-size: 36px;
    line-height: 1.1;
    font-weight: 700;
    color: $gray;
    margin-bottom: 5px;
}

h2 {
    font-family: "Open Sans";
    font-size: 18px;
    font-weight: 400;
    line-height: 1.1;
    color: $gray;
    margin-top: 0px;
    margin-bottom: 0px
}

h1 span {
    font-weight: 300;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: 2%;
}

li {
    font-family: "Open Sans";
    margin-bottom: 13px;
}

body { 
    margin: 0 auto;
}